{% extends 'base.html.twig' %}

{% block title %}Modifier une Affaire{% endblock %}

{% block body %}
    <h1>Modifier une Affaire</h1>
    <a class="badge badge-dark mb-4" href="{{ path('affaire_index') }}">> Retourner à la liste <</a>

    {{ include('affaire/_form.html.twig', {'button_label': 'Modifier'}) }}
    
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('affaire/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
