{% extends 'base.html.twig' %}

{% block title %}Créer une Affaire{% endblock %}

{% block body %}
    <h1>Créer une Affaire</h1>
    <a class="badge badge-dark mb-4" href="{{ path('affaire_index') }}">> Retourner à la liste <</a>

    {{ include('affaire/_form.html.twig') }}
{% endblock %}
