{% extends 'base.html.twig' %}

{% block title %}New Politicien{% endblock %}

{% block body %}
    <h1>Create new Politicien</h1>

    {{ include('politicien/_form.html.twig') }}

    <a href="{{ path('politicien_index') }}">back to list</a>
{% endblock %}
